In [1]:
import pandas as pd
import numpy as np
import warnings
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
parcel = pd.read_csv('data/raw/EXTR_Parcel.csv')
resbldg = pd.read_csv('data/raw/EXTR_ResBldg.csv')
rpsale = pd.read_csv('data/raw/EXTR_RPSale.csv')
lookup = pd.read_csv('data/raw/EXTR_LookUp.csv')

In [3]:
parcel.head()

,Unnamed: 0,Major,Minor,PropName,PlatName,PlatLot,PlatBlock,Range,Township,Section,...,SeismicHazard,LandslideHazard,SteepSlopeHazard,Stream,Wetland,SpeciesOfConcern,SensitiveAreaTract,WaterProblems,TranspConcurrency,OtherProblems
0,0,807841,410,,SUMMER RIDGE DIV NO. 02,41,,6,25,22,...,N,N,N,N,N,N,N,N,N,N
1,2,755080,15,,SANDER'S TO GILMAN PK & SALMON BAY,3,1,3,25,11,...,N,N,N,N,N,N,N,N,N,N
2,3,888600,135,,VASHON GARDENS ADD,21,,3,22,8,...,N,N,N,N,N,N,N,N,N,N
3,6,22603,9181,,NaN,,,3,26,2,...,N,N,N,N,N,N,N,N,N,N
4,7,229670,160,,ELDORADO NORTH,16,,5,26,19,...,N,N,N,N,N,N,N,N,N,N

In [4]:
parcel.shape

(205199, 82)

In [5]:
parcel.columns

Index(['Unnamed: 0', 'Major', 'Minor', 'PropName', 'PlatName', 'PlatLot',
       'PlatBlock', 'Range', 'Township', 'Section', 'QuarterSection',
       'PropType', 'Area', 'SubArea', 'SpecArea', 'SpecSubArea',
       'DistrictName', 'LevyCode', 'CurrentZoning', 'HBUAsIfVacant',
       'HBUAsImproved', 'PresentUse', 'SqFtLot', 'WaterSystem', 'SewerSystem',
       'Access', 'Topography', 'StreetSurface', 'RestrictiveSzShape',
       'InadequateParking', 'PcntUnusable', 'Unbuildable', 'MtRainier',
       'Olympics', 'Cascades', 'Territorial', 'SeattleSkyline', 'PugetSound',
       'LakeWashington', 'LakeSammamish', 'SmallLakeRiverCreek', 'OtherView',
       'WfntLocation', 'WfntFootage', 'WfntBank', 'WfntPoorQuality',
       'WfntRestrictedAccess', 'WfntAccessRights', 'WfntProximityInfluence',
       'TidelandShoreland', 'LotDepthFactor', 'TrafficNoise', 'AirportNoise',
       'PowerLines', 'OtherNuisances', 'NbrBldgSites', 'Contamination',
       'DNRLease', 'AdjacentGolfFairway', 'AdjacentGreenbelt', 'HistoricSite',
       'CurrentUseDesignation', 'NativeGrowthProtEsmt', 'Easements',
       'OtherDesignation', 'DeedRestrictions', 'DevelopmentRightsPurch',
       'CoalMineHazard', 'CriticalDrainage', 'ErosionHazard', 'LandfillBuffer',
       'HundredYrFloodPlain', 'SeismicHazard', 'LandslideHazard',
       'SteepSlopeHazard', 'Stream', 'Wetland', 'SpeciesOfConcern',
       'SensitiveAreaTract', 'WaterProblems', 'TranspConcurrency',
       'OtherProblems'],
      dtype='object')

In [6]:
parcel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205199 entries, 0 to 205198
Data columns (total 82 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Unnamed: 0              205199 non-null  int64
 1   Major                   205199 non-null  int64
 2   Minor                   205199 non-null  int64
 3   PropName                196088 non-null  object
 4   PlatName                176654 non-null  object
 5   PlatLot                 205199 non-null  object
 6   PlatBlock               205199 non-null  object
 7   Range                   205199 non-null  int64
 8   Township                205199 non-null  int64
 9   Section                 205199 non-null  int64
 10  QuarterSection          205199 non-null  object
 11  PropType                205199 non-null  object
 12  Area                    205193 non-null  float64
 13  SubArea                 205193 non-null  float64
 14  SpecArea                4864 non-null    float64
 15  SpecSubArea             4864 non-null    float64
 16  DistrictName            205199 non-null  object
 17  LevyCode                205199 non-null  int64
 18  CurrentZoning           205199 non-null  object
 19  HBUAsIfVacant           205199 non-null  int64
 20  HBUAsImproved           205199 non-null  int64
 21  PresentUse              205199 non-null  int64
 22  SqFtLot                 205199 non-null  int64
 23  WaterSystem             205199 non-null  int64
 24  SewerSystem             205199 non-null  int64
 25  Access                  205199 non-null  int64
 26  Topography              205199 non-null  int64
 27  StreetSurface           205199 non-null  int64
 28  RestrictiveSzShape      205199 non-null  int64
 29  InadequateParking       205199 non-null  int64
 30  PcntUnusable            205199 non-null  int64
 31  Unbuildable             205199 non-null  bool
 32  MtRainier               205199 non-null  int64
 33  Olympics                205199 non-null  int64
 34  Cascades                205199 non-null  int64
 35  Territorial             205199 non-null  int64
 36  SeattleSkyline          205199 non-null  int64
 37  PugetSound              205199 non-null  int64
 38  LakeWashington          205199 non-null  int64
 39  LakeSammamish           205199 non-null  int64
 40  SmallLakeRiverCreek     205199 non-null  int64
 41  OtherView               205199 non-null  int64
 42  WfntLocation            205199 non-null  int64
 43  WfntFootage             205199 non-null  int64
 44  WfntBank                205199 non-null  int64
 45  WfntPoorQuality         205199 non-null  int64
 46  WfntRestrictedAccess    205199 non-null  int64
 47  WfntAccessRights        205199 non-null  object
 48  WfntProximityInfluence  205199 non-null  object
 49  TidelandShoreland       205199 non-null  int64
 50  LotDepthFactor          205199 non-null  int64
 51  TrafficNoise            205199 non-null  int64
 52  AirportNoise            205199 non-null  int64
 53  PowerLines              205199 non-null  object
 54  OtherNuisances          205199 non-null  object
 55  NbrBldgSites            205199 non-null  int64
 56  Contamination           205199 non-null  int64
 57  DNRLease                205199 non-null  object
 58  AdjacentGolfFairway     205199 non-null  object
 59  AdjacentGreenbelt       205199 non-null  object
 60  HistoricSite            205199 non-null  int64
 61  CurrentUseDesignation   205199 non-null  int64
 62  NativeGrowthProtEsmt    205199 non-null  object
 63  Easements               205199 non-null  object
 64  OtherDesignation        205199 non-null  object
 65  DeedRestrictions        205199 non-null  object
 66  DevelopmentRightsPurch  205199 non-null  object
 67  CoalMineHazard          205199 non-null  object
 68  CriticalDrainage        205199 non-null  object
 69  ErosionHazard           205199 non-null  object
 70  LandfillBuffer          205199 non-null  object
 71  HundredYrFloodPlain     205199 non-null  object
 72  SeismicHazard           205199 non-null  object
 73  LandslideHazard         205199 non-null  object
 74  SteepSlopeHazard        205199 non-null  object
 75  Stream                  205199 non-null  object
 76  Wetland                 205199 non-null  object
 77  SpeciesOfConcern        205199 non-null  object
 78  SensitiveAreaTract      205199 non-null  object
 79  WaterProblems           205199 non-null  object
 80  TranspConcurrency       205199 non-null  object
 81  OtherProblems           205199 non-null  object
dtypes: bool(1), float64(4), int64(42), object(35)
memory usage: 127.0+ MB

In [7]:
parcel.isna().sum().sort_values(ascending=False)[:10]

SpecSubArea      200335
SpecArea         200335
PlatName          28545
PropName           9111
Area                  6
SubArea               6
OtherProblems         0
Access                0
Topography            0
StreetSurface         0
dtype: int64

In [9]:
parcel.drop(['Unnamed:0','SpecArea', 'SpecSubArea'], axis=1, inplace=True)

KeyError: "['Unnamed:0'] not found in axis"

In [10]:
resbldg.head()

,Major,Minor,BldgNbr,NbrLivingUnits,Address,BuildingNumber,Fraction,DirectionPrefix,StreetName,StreetType,...,FpMultiStory,FpFreestanding,FpAdditional,YrBuilt,YrRenovated,PcntComplete,Obsolescence,PcntNetCondition,Condition,AddnlCost
0,9800,720,1,1,27719 SE 26TH WAY 98075,27719,,SE,26TH,WAY,...,0,0,0,2001,0,0,0,0,3,0
1,9802,140,1,1,2829 277TH TER SE 98075,2829,,,277TH,TER,...,0,0,0,2004,0,0,0,0,3,0
2,9830,20,1,1,1715 298TH CRESENT SE,1715,,,298TH CRESENT,,...,0,0,0,2017,0,0,0,0,3,0
3,9830,160,1,1,1861 297TH WAY SE 98024,1861,,,297TH,WAY,...,0,0,0,2013,0,0,0,0,3,0
4,10050,180,1,1,35410 25TH PL S 98003,35410,,,25TH,PL,...,0,0,0,1994,0,0,0,0,4,0

In [12]:
resbldg.columns

Index(['Major', 'Minor', 'BldgNbr', 'NbrLivingUnits', 'Address',
       'BuildingNumber', 'Fraction', 'DirectionPrefix', 'StreetName',
       'StreetType', 'DirectionSuffix', 'ZipCode', 'Stories', 'BldgGrade',
       'BldgGradeVar', 'SqFt1stFloor', 'SqFtHalfFloor', 'SqFt2ndFloor',
       'SqFtUpperFloor', 'SqFtUnfinFull', 'SqFtUnfinHalf', 'SqFtTotLiving',
       'SqFtTotBasement', 'SqFtFinBasement', 'FinBasementGrade',
       'SqFtGarageBasement', 'SqFtGarageAttached', 'DaylightBasement',
       'SqFtOpenPorch', 'SqFtEnclosedPorch', 'SqFtDeck', 'HeatSystem',
       'HeatSource', 'BrickStone', 'ViewUtilization', 'Bedrooms',
       'BathHalfCount', 'Bath3qtrCount', 'BathFullCount', 'FpSingleStory',
       'FpMultiStory', 'FpFreestanding', 'FpAdditional', 'YrBuilt',
       'YrRenovated', 'PcntComplete', 'Obsolescence', 'PcntNetCondition',
       'Condition', 'AddnlCost'],
      dtype='object')

In [13]:
resbldg.shape

(181510, 50)

In [14]:
resbldg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181510 entries, 0 to 181509
Data columns (total 50 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Major               181510 non-null  int64
 1   Minor               181510 non-null  int64
 2   BldgNbr             181510 non-null  int64
 3   NbrLivingUnits      181510 non-null  int64
 4   Address             181510 non-null  object
 5   BuildingNumber      181510 non-null  object
 6   Fraction            181510 non-null  object
 7   DirectionPrefix     181146 non-null  object
 8   StreetName          181510 non-null  object
 9   StreetType          181510 non-null  object
 10  DirectionSuffix     181146 non-null  object
 11  ZipCode             154594 non-null  object
 12  Stories             181510 non-null  float64
 13  BldgGrade           181510 non-null  int64
 14  BldgGradeVar        181510 non-null  int64
 15  SqFt1stFloor        181510 non-null  int64
 16  SqFtHalfFloor       181510 non-null  int64
 17  SqFt2ndFloor        181510 non-null  int64
 18  SqFtUpperFloor      181510 non-null  int64
 19  SqFtUnfinFull       181510 non-null  int64
 20  SqFtUnfinHalf       181510 non-null  int64
 21  SqFtTotLiving       181510 non-null  int64
 22  SqFtTotBasement     181510 non-null  int64
 23  SqFtFinBasement     181510 non-null  int64
 24  FinBasementGrade    181510 non-null  int64
 25  SqFtGarageBasement  181510 non-null  int64
 26  SqFtGarageAttached  181510 non-null  int64
 27  DaylightBasement    181510 non-null  object
 28  SqFtOpenPorch       181510 non-null  int64
 29  SqFtEnclosedPorch   181510 non-null  int64
 30  SqFtDeck            181510 non-null  int64
 31  HeatSystem          181510 non-null  int64
 32  HeatSource          181510 non-null  int64
 33  BrickStone          181510 non-null  int64
 34  ViewUtilization     181510 non-null  object
 35  Bedrooms            181510 non-null  int64
 36  BathHalfCount       181510 non-null  int64
 37  Bath3qtrCount       181510 non-null  int64
 38  BathFullCount       181510 non-null  int64
 39  FpSingleStory       181510 non-null  int64
 40  FpMultiStory        181510 non-null  int64
 41  FpFreestanding      181510 non-null  int64
 42  FpAdditional        181510 non-null  int64
 43  YrBuilt             181510 non-null  int64
 44  YrRenovated         181510 non-null  int64
 45  PcntComplete        181510 non-null  int64
 46  Obsolescence        181510 non-null  int64
 47  PcntNetCondition    181510 non-null  int64
 48  Condition           181510 non-null  int64
 49  AddnlCost           181510 non-null  int64
dtypes: float64(1), int64(39), object(10)
memory usage: 69.2+ MB

In [15]:
resbldg.isna().sum().sort_values(ascending=False)[:10]

ZipCode            26916
DirectionPrefix      364
DirectionSuffix      364
BldgGrade              0
SqFtTotBasement        0
SqFtTotLiving          0
SqFtUnfinHalf          0
SqFtUnfinFull          0
SqFtUpperFloor         0
SqFt2ndFloor           0
dtype: int64

In [16]:
rpsale.head()

,ExciseTaxNbr,Major,Minor,DocumentDate,SalePrice,RecordingNbr,Volume,Page,PlatNbr,PlatType,...,PropertyType,PrincipalUse,SaleInstrument,AFForestLand,AFCurrentUseLand,AFNonProfitUse,AFHistoricProperty,SaleReason,PropertyClass,SaleWarning
0,2857854,198920,1430,03/28/2017,0,20170410000541,,,,,...,3,7,15,N,N,N,N,16,2,20 31
1,2743355,638580,110,07/14/2015,190000,20150715002686,,,,,...,3,6,3,N,N,N,N,1,8,15
2,2999169,919715,200,07/08/2019,192000,20190712001080,,,,,...,3,2,3,N,N,N,N,1,3,
3,2841697,894677,240,12/21/2016,818161,20161228000896,,,,,...,2,6,3,N,N,N,N,1,8,
4,2826129,445872,260,10/03/2016,0,20161004000511,,,,,...,3,2,15,N,N,N,N,18,3,18 31

In [17]:
rpsale.drop(['Volume','Page','PlatNbr','PlatType','PlatLot','PlatBlock'], axis=1, inplace=True)

In [18]:
rpsale.head()

,ExciseTaxNbr,Major,Minor,DocumentDate,SalePrice,RecordingNbr,SellerName,BuyerName,PropertyType,PrincipalUse,SaleInstrument,AFForestLand,AFCurrentUseLand,AFNonProfitUse,AFHistoricProperty,SaleReason,PropertyClass,SaleWarning
0,2857854,198920,1430,03/28/2017,0,20170410000541,AD APARTMENTS LLC ...,SEATTLE CITY OF ...,3,7,15,N,N,N,N,16,2,20 31
1,2743355,638580,110,07/14/2015,190000,20150715002686,GINGRICH AUDREY B ...,NATION FRED I ...,3,6,3,N,N,N,N,1,8,15
2,2999169,919715,200,07/08/2019,192000,20190712001080,WAGNERESTATES LLC ...,SCHAFFER CORBIN ...,3,2,3,N,N,N,N,1,3,
3,2841697,894677,240,12/21/2016,818161,20161228000896,QUADRANT CORPORATION ...,KANG JING ...,2,6,3,N,N,N,N,1,8,
4,2826129,445872,260,10/03/2016,0,20161004000511,MARCH CARL J + SUSAN A ...,MARCH CARL J + SUSAN A REVOCABLE LIVING TRUST ...,3,2,15,N,N,N,N,18,3,18 31

In [19]:
rpsale.shape

(351067, 18)

In [20]:
rpsale.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 351067 entries, 0 to 351066
Data columns (total 18 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ExciseTaxNbr        351067 non-null  int64
 1   Major               351067 non-null  int64
 2   Minor               351067 non-null  int64
 3   DocumentDate        351067 non-null  object
 4   SalePrice           351067 non-null  int64
 5   RecordingNbr        351067 non-null  object
 6   SellerName          351067 non-null  object
 7   BuyerName           351067 non-null  object
 8   PropertyType        351067 non-null  int64
 9   PrincipalUse        351067 non-null  int64
 10  SaleInstrument      351067 non-null  int64
 11  AFForestLand        351067 non-null  object
 12  AFCurrentUseLand    351067 non-null  object
 13  AFNonProfitUse      351067 non-null  object
 14  AFHistoricProperty  351067 non-null  object
 15  SaleReason          351067 non-null  int64
 16  PropertyClass       351067 non-null  int64
 17  SaleWarning         351067 non-null  object
dtypes: int64(9), object(9)
memory usage: 48.2+ MB

In [21]:
rpsale.isna().sum()

ExciseTaxNbr          0
Major                 0
Minor                 0
DocumentDate          0
SalePrice             0
RecordingNbr          0
SellerName            0
BuyerName             0
PropertyType          0
PrincipalUse          0
SaleInstrument        0
AFForestLand          0
AFCurrentUseLand      0
AFNonProfitUse        0
AFHistoricProperty    0
SaleReason            0
PropertyClass         0
SaleWarning           0
dtype: int64

In [23]:
lookup.head()

   LUType  LUItem                                      LUDescription
0       1       1  LAND ONLY                                     ...
1       1      10  Land with new building                        ...
2       1      11  Household, single family units                ...
3       1      12  Multiple family residence (Residential, 2-4 un...
4       1      13  Multiple family residence (Residential, 5+ uni...